<!DOCTYPE html>
<html lang="pt-BR">

    <%- include('../partials/head'); %> <!--Incluindo o head-->

<body class="container">

    <%- include('../partials/header'); %> <!--Incluindo o header-->

    <main>
        <div class="jumbotron">
            <h1>Node com EJS</h1>
            <p>Vamos aprender a trabalhar com arquivos EJS</p>
            <p><%= subtitle %></p>
        </div>

        <ul>

            <% quality.forEach(function(frases){ %>
                <li>
                    <strong><%= frases.title %></strong> - <%= frases.message %>
                </li>
            <% }) %>

        </ul>

    </main>

    <%- include('../partials/footer') %> <!--Incluindo o footer-->

</body>
</html>